.main__init__ {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.main__init__>.main_container {
    max-width: 424px;
    width: 100%;
    background-color: white;
}


.main__init__>.main_container>header {
    margin: 20px;
    margin-left: 19px;
}



.header_ {
    display: flex;
    justify-content: space-between;
}

.color {
    color: #3DACDC;
    margin-right: 10px;
}

.no_color {
    color: black;
    margin-right: 10px;
}

.result_container {
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.result_container>div>.div_unselect {
    border: 1px solid #AAAAAA;
    min-width: 130px;
    text-align: center;
    padding: 5px;
    border-radius: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
    color: #AAAAAA;
}

.result_container>div>.div_select {
    border: 1px solid black;
    background-color: black;
    min-width: 130px;
    text-align: center;
    padding: 5px;
    border-radius: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}